# Prod
public/js/

# Haskell stuff
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/

# Snap
log/

# IntelliJ IDEA
.idea/
.ideaHaskellLib/
zinc.iml

# VS Code
.vscode/

# Other
null/
*.prof
*.tar
*.xz
*.bz
*.bz2
*.gz
*.tgz
*.zip
*.7z
*.rar
