html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url("/img/dotted-square-pattern.png");
    background-repeat: repeat;
    background-position: left top;
}

canvas {
    border: 1px solid rgba(0, 0, 0, 0.5);
    min-width: 1280px;
    max-width: 1280px;
    min-height: 720px;
    max-height: 720px;
    z-index: 1001;
}

.center-flex {
    align-items: center;
    display: flex;
    justify-content: center;
}

.static-assets {
    display: none;
}
